.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% / 5);
}

.status {
  margin-top: 0px;
  margin-bottom: 0;
}

.online {
  color: green;
}

.offline {
  color: red;
}

.text {
  margin-bottom: 0;
}
